#!/usr/bin/bash

################################################################################
#                           Common Git Commands
################################################################################

#######################
###### Rebasing
#######################
# squash, pass in how far back to go
# gir() {
#     local back=$1
#     shift
#     git rebase -i HEAD~"$back" "$@"
# }

#######################
###### Committing
#######################
# fixup commit
# gcf() {
#     local back=$1
#     shift
#     git commit --fixup HEAD~"$back" "$@"
# }
