* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    font-family: "Blex Mono Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin-top: 1px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

/* member */
#clock,
#cpu,
#custom-lock,
#custom-quit,
#custom-reboot,
#custom-power,
#disk,
#fan_speeds,
#group_settable,
#group_stats,
#memory,
#mpris,
#network,
#tray,
#window,
#workspaces {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0 10px;
}


/* left */
#clock,
#cpu,
#custom-quit,
#custom-lock,
#fan_speeds,
#group_settable,
#group_stats,
#mpris,
#tray,
#window,
#workspaces {
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* right */
#custom-lock,
#custom-power,
#clock,
#disk,
#fan_speeds,
#group_settable,
#group_stats,
#memory,
#mpris,
#tray,
#window,
#workspaces {
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* grouped */
#backlight {
    margin-right: 2px;
    margin-left: 0;
}

#pulseaudio.microphone {
    margin-right: 9px;
    margin-left: 10px;
}

#fan_speeds,
#group_settable,
#group_stats {
    padding: 0;
}

#temperature {
    margin-left: 10px;
    margin-right: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.plugged) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery {
    margin-left: 5px;
    margin-right: 10px;
    color: #a6e3a1;
}

#custom-fan_speed {
    font-size: 28px;
}

#custom-fan_speed.fan1 {
    margin-left: 10px;
    margin-right: 5px;
}

#custom-fan_speed.fan2 {
    margin-left: 5px;
    margin-right: 10px;
}

#custom-power {
    margin-right: 0;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#temperature.critical {
    color: #e92d4d;
}

#workspaces button {
    padding: 0 5px;
    padding-bottom: 1px;
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}
