CompileFlags:
  Add: [-ferror-limit=0, -xc, -Wall, -Werror, -Wextra]
Completion:
  AllScopes: true

---

If:
  PathMatch: .*/esphome.*
CompileFlags:
  Add:
    - "-ferror-limit=0"
    - "-xc++"
    - "-Wall"
    - "-I/home/ricclopez/repos/esphome"
  Remove: [-fipa-pta, -free, -mtext-section-literals, -mlongcalls]
Completion:
  AllScopes: true

---

If:
  PathMatch: .*/linux/tools/usb/usbip/.*

CompileFlags:
  Add: [-xc, -I../libsrc]
  Remove: [-xc++]
